@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  --first-color: hsl(110, 92%, 56%);  /* #31ed3a */
  --body-color: hsl(146, 84%, 12%);  /* #042918 */
  --text-color: hsl(125, 84%, 30%);   /* Greenish, derived from first color */
  --border-color: hsl(146, 70%, 40%); /* Border from greenish palette */
  --white-color: hsl(0, 0%, 100%);    /* #fff */
  --title-color: hsl(146, 56%, 20%);   /* Dark background from greenish hue */
  --container-color: hsl(110, 50%, 85%); /* Light greenish tone */

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Montagu Slab", serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE STYLES ==========*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 5rem 1rem;
}
.section-title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  margin-bottom: 1.3rem;
  color: #000;
}
.main {
  overflow: hidden; /* For animation ScrollReveal */
}
/* HEADER AND NAV */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
}
.navbar {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 2rem 2rem;
}
.hamburger-menu {
  display: block;
  color: var(--white-color);
}
.nav-list {
display: flex;
}
.nav-item{
  margin-right: 1.5rem;
  font-size: var(--small-font-size);
}
.nav-link {
  color: var(--white-color);
  transition: color .4s;
}
.nav-action {
  display: flex;
  gap: 1rem;
}
.nav-action a {
  color: var(--white-color);
}
.nav-action a i {
  font-size: 1rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background-color: hsla(140, 4%, 15%, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  display: none;
  flex-direction: column;
  padding: 2rem 2rem;
  align-items: center;
  justify-content: center;

}
.sidebar li {
  margin-bottom: 1.5rem;
}
.close i {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white-color);
  cursor: pointer;
  font-size: 1rem;
}

/*========== RESPONSIVE BREAKPOINTS ==========*/
@media screen and (max-width: 800px) {
  .nav-list{
    display: none;
  }
  .hamburger-menu {
    cursor: pointer;
  }
}

/* Min-width 800px */
@media screen and (min-width: 801px) {
  .hamburger-menu {
    display: none;
  }
}

/* HOME */
.home-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  padding-top: var(--header-height);
  position: relative;
}
.home-data {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}
.home-data p {
  color: rgb(211, 208, 208);
  margin-left: 1rem;
}
.home-btn {
  color: black;
  background-color: white;
  width: 40%;
  font-size: var(--small-font-size);
  padding: .5rem 0;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 10px;
}
.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* About */
.about {
  padding: 5rem 2rem;
  text-align: center;
}
.about-title {
  color: black;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
}
.about-desc {
  text-align: center;
  color: black;
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}
.about-image {
  width: 50%;
}
.about-image img {
  max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.about-text {
  width: 50%;
  padding: 0 2rem;
}
.about-btn {
  color: white;
  background-color: black;
  width: 50%;
  font-size: var(--small-font-size);
  padding: .5rem 1rem;
  margin: 0 auto;

}

/* Categories */
.categories {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 2rem;
}
.categories-title {
  color: black;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.each-container {
  background-color: rgb(231, 228, 228);
  padding-bottom: 1rem;
  text-align: left;
}
.each-container img {
  width: 98%;
  height: auto;
  margin-bottom: 1rem;
  margin: 0 auto;
  padding: .5rem;
  margin-bottom: .5rem;
}
.each-container p {
  color: black;
  font-size: var(--small-font-size);
  margin-left: .5rem;
  
}

/* Testimonials */
.testimonials {
  margin-bottom: 3rem;
}
.testimonial-swiper {
  max-width: 1200px;
  padding: 2rem 1rem;
  margin: 0 auto;
  position: relative;
}
.ri-arrow-left-s-line, 
.ri-arrow-right-s-line {
  position: absolute;
  top: 50%;
  color: #000;
  font-size: 4rem;
  cursor: pointer;
}
.ri-arrow-right-s-line {
  right: 0;
}
.ri-arrow-left-s-line {
  left: 0;
}
.testimonial-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: black;
}
.testimonial-wrapper {
  display: flex;
  gap: 1rem;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  justify-content: center;
}
.testimonial-wrapper::-webkit-scrollbar {
  display: none;

}
.each-slide {
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  width: 400px;
  min-width: 300px;
  text-align: center;
}
.each-slide img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  margin-bottom: 1.5rem;
}
.testimonial-text {
  font-size: var(--small-font-size);
  color: black;
  margin-bottom: 1rem;
}
.testimonial-name {
  font-size: .7rem;
  color: black;
  font-weight: 900;
}

/* BLOG */
.blog {
  text-align: center;
  padding: 2rem 2rem;
}
.section-subtitle {
  font-size: var(--small-font-size);
  color: #000;
  margin-bottom: .75rem;
}
.blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.blog-card {
  display: flex;
  flex-direction: column;
}
.blog-image {
  position: relative;
  margin-bottom: .69rem;
}
.blog-date {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  background-color: red;
  font-size: .5rem;
  padding: .3rem .3rem;
}
.blog-details {
  text-align: left;
}
.blog-title {
  color: #000;
  font-size: .75rem;
  font-weight: 500;
  margin-bottom: .6rem;
}
.blog-subtitle {
  color: #000;
  font-size: .6rem;
  margin-bottom: .6rem;
}
.blog-link {
  color: red;
  font-size: .65rem;
  cursor: pointer;
}
/* Footer */
.footer {
  display: flex;
  background-color: black;
  padding: 3rem 1rem;
  margin-top: 2rem;
  justify-content: space-around;
  overflow: hidden;
}
.footer-left-input {
  margin-top: 2rem;
}
.footer-label {
  color: white;
}
.footer-form {
  margin-top: .7rem;
  display: flex;
}
.footer-input {
  padding-block: .8rem;
  padding-inline: 1rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
}
.footer-btn {
  padding: .8rem .5rem;
  background-color: white;
  color: #000;
}
.footer-right {
  display: flex;
  flex-direction: row;
}
.footer-col {
  margin-right: 5rem;
  text-align: left;
}
.footer-title {
  color: white;
  font-size: var(--small-font-size);
  font-weight: 900;
  margin-bottom: 1rem;
}
.footer-links {
  font-size: var(--small-font-size);
  color: white;
}
.footer-items {
  margin-bottom: .3rem;
}
.footer-socials {
  display: flex;
}
.footer-socials li a {
  background-color: white;
  color: #000;
  padding: .5rem;
  border-radius: 50%;
  margin-right: .5rem;
}

/* =====SHOP PAGE ===== */
.hidden {
  display: none;
}
.shop-main {
  margin-top: 7rem;
}
.categories-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ======ABOUT PAGE ====== */
.about-main {
  margin-top: 3.5rem;
}
.about-container-page {
  display: flex;
  flex-direction: column;
}

.about-text-page {
  text-align: start;
  padding:4.5rem 10rem;
}
.about-title-page {
  color: black;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.about-desc-page {
  color: black;
  font-size: var(--small-font-size);
  line-height: 2;
  margin-bottom: 1rem;
}

/* BLOG PAGE */
.main-blog {
  margin-top: 3.5rem;
}
.blogload-btn {
  color: white;
  background-color: red;
  width: 50%;
  font-size: var(--small-font-size);
  padding: .5rem 2rem;
  margin: 0 auto;
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1150px) {
  .home-data {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home-data p {
    font-size: 1rem;
  }
  .home-btn {
    padding: 1rem 0;
    margin-top: 2rem;
  }
  .home-container {
    height: auto;
  }
  /* About */
  .about {
    padding: 5rem 3rem;
  }
  .about-title {
    font-size: 2.5rem;
  }
  .about-desc {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .about-btn {
    font-size: var(--small-font-size);
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 1220px) {

}
/* For medium devices */
@media screen and (max-width: 800px) {
   .home-data {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home-data p {
    font-size: .9rem;
  }
  .home-btn {
    padding: 1rem 0;
    margin-top: 1.5rem;
  }
  .home-container {
    height: auto;
  }
  /* About */
  .about {
    padding: 5rem 3rem;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-image {
    width: 100%;
  }
  .about-text {
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
  .about-title {
    font-size: 2.3rem;
  }
  .about-desc {
    font-size: .9rem;
    margin-bottom: 2rem;
  }
  .categories-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .categories-title {
    font-size: 2.3rem;
  }
  .testimonial-swiper {
    padding: 2rem .5rem;
  }
  .testimonial-wrapper {
    gap: 1rem;
  }
  .footer {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 3rem 3rem;
  }
  .footer-left {
    margin-bottom: 2.3rem;
  }
  .about-text-page {
    text-align: start;
    padding:4.5rem 6rem;
  }
}
@media screen and (max-width: 700px) {
  .blog-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blog-card {
    margin-bottom: 1rem;
  }
  .testimonial-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .home-data p {
    font-size: .7rem;
  }
  .home-btn {
    padding: .7rem 0;
    margin-top: 1rem;
  }
  .home-container {
    height: auto;
  }
  /* About */
  .about {
    padding: 5rem 2rem;
  }
  .about-title {
    font-size: 2.3rem;
  }
  .about-desc {
    font-size: .8rem;
  }
  .categories {
    padding: 2rem 2rem;
  }
  .categories-title {
    font-size: 2.3rem;
  }
  .categories-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
  .each-container {
    background-color: rgb(231, 228, 228);
    padding-bottom: .5rem;
    text-align: left;
  }
  .testimonial-swiper {
    padding: 2rem 2rem;
  }
  .testimonial-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .blog-container {
    grid-template-columns: 1fr 1fr;
  }

}
/* For small devices */
@media screen and (max-width: 450px) {
  .home-data p {
    font-size: .6rem;
  }
  .home-btn {
    padding: .6rem 0;
    margin-top: 1rem;
  }
  /* About */
  .about {
    padding: 4rem 2rem;
  }
  .about-title {
    font-size: 2.1rem;
  }
  .categories {
    padding: 2rem 1.5rem;
  }
  .categories-title {
    font-size: 2.1rem;
  }
  .categories-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .each-container {
    background-color: rgb(231, 228, 228);
    padding-bottom: .5rem;
    text-align: left;
  }
  .footer-right {
    display: grid;
    grid-template-columns: 1fr ;
  }
  .footer-col {
    margin-bottom: 1.4rem;
  }
  .each-slide img {
    width: 90px;
    height: 90px;
  }
  .testimonial-text {
    font-size: .7rem;
  }
  

}
@media screen and (max-width: 320px) {
  .home-data {
    top: 15%;
    left: 35%;
  }
  .home-title {
    font-size: 1rem;
  }
  .home-data p {
    font-size: .5rem;
  }
  .home-btn {
    padding: .3rem 0;
    margin-top: .6rem;
  }
  /* About */
  .about {
    padding: 4rem 1rem;
  }
  .about-title {
    font-size: 1.4rem;
  }
  .about-desc {
    font-size: .6rem;
  }
  .nav-action a i {
    font-size: .6rem;
  }
  .hamburger-menu {
    font-size: .7rem;
  }
  .nav-logo {
    width: 50px;
  }
  .categories {
    padding: 0 2rem;
  }
  .categories-title {
    font-size: 1.3rem;
  }
  .categories-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .each-container {
    background-color: rgb(231, 228, 228);
    padding-bottom: .5rem;
    text-align: left;
    margin-bottom: 1rem;
  }
  .testimonial-wrapper {
    grid-template-columns: 1fr;
  }
  .testimonial-title {
    font-size: 1.3rem;
    margin-bottom: .75rem;
  }
  .blog-container {
    grid-template-columns: 1fr;
  }
  .footer-right {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
  }
  .footer {
    align-items: center;
  }
}



