@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: hsl(110, 92%, 56%);  /* #31ed3a */
  --body-color: hsl(146, 84%, 12%);  /* #042918 */
  --text-color: hsl(125, 84%, 30%);   /* Greenish, derived from first color */
  --border-color: hsl(146, 70%, 40%); /* Border from greenish palette */
  --white-color: hsl(0, 0%, 100%);    /* #fff */
  --title-color: hsl(146, 56%, 20%);   /* Dark background from greenish hue */
  --container-color: hsl(110, 50%, 85%); /* Light greenish tone */

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Montagu Slab", serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE STYLES ==========*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 5rem 1rem;
}
.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  margin-bottom: 2rem;
}
.main {
  overflow: hidden; /* For animation ScrollReveal */
}
/* HEADER AND NAV */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
}
.navbar {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 2rem 2rem;
}
.hamburger-menu {
  display: block;
  color: var(--white-color);
}
.nav-list {
display: flex;
}
.nav-item{
  margin-right: 1.5rem;
  font-size: var(--small-font-size);
}
.nav-link {
  color: var(--white-color);
  transition: color .4s;
}
.nav-action {
  display: flex;
  gap: .5rem;
}
.nav-action a {
  color: var(--white-color);
}
.nav-action a i {
  font-size: var(--small-font-size);
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background-color: hsla(140, 4%, 15%, 0.1);
  backdrop-filter: blur(15px);
  display: none;
  flex-direction: column;
  padding: 2rem 2rem;
  align-items: center;
  justify-content: center;

}
.sidebar li {
  margin-bottom: 1.5rem;
}
.close i {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white-color);
  cursor: pointer;
}

/*========== RESPONSIVE BREAKPOINTS ==========*/
@media screen and (max-width: 800px) {
  .nav-list{
    display: none;
  }
  .hamburger-menu {
    cursor: pointer;
  }
}

/* Min-width 800px */
@media screen and (min-width: 801px) {
  .hamburger-menu {
    display: none;
  }
}

/* HOME */
.home-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}
.home-data {
  position: absolute;
  top: 50%;
  left:45%;
  transform: translate(-25%, -35%);
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}
.home-title {
  color: white;
  font-size: 2rem;
}
.home-data p {
  color: white;
  font-size: var(--small-font-size);
  margin-left: 1rem;
}
.home-btn {
  color: black;
  background-color: white;
  width: 50%;
  font-size: var(--small-font-size);
  padding: .5rem 0;
  margin: 0 auto;
  margin-top: 1rem;
}
/* About */
.about {
  padding: 5rem 2rem;
  text-align: center;
}
.about-title {
  color: black;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
}
.about-desc {
  text-align: center;
  color: black;
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
}
.about-image {
  width: 50%;
}
.about-image img {
  max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.about-text {
  width: 50%;
  padding: 0 2rem;
}
.about-btn {
  color: white;
  background-color: black;
  width: 50%;
  font-size: var(--small-font-size);
  padding: .5rem 1rem;
  margin: 0 auto;

}

/* Categories */
.categories {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem 3rem;
}
.categories-title {
  color: black;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.each-container {
  background-color: rgb(231, 228, 228);
  padding-bottom: 1rem;
  text-align: left;
}
.each-container img {
  width: 98%;
  height: auto;
  margin-bottom: 1rem;
  margin: 0 auto;
  padding: .5rem;
  margin-bottom: .5rem;
}
.each-container p {
  color: black;
  font-size: var(--small-font-size);
  margin-left: .5rem;
  
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1150px) {
  .home-data {
    top: 35%;
    left:45%;
  }
  .home-title {
    font-size: 3rem;
  }
  .home-data p {
    font-size: 1rem;
  }
  .home-btn {
    padding: 1rem 0;
    margin-top: 2rem;
  }
  .home-container {
    height: auto;
  }
  /* About */
  .about {
    padding: 5rem 3rem;
  }
  .about-title {
    font-size: 2.5rem;
  }
  .about-desc {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .about-btn {
    font-size: var(--small-font-size);
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 1220px) {

}
/* For medium devices */
@media screen and (max-width: 800px) {
  .home-data {
    top: 30%;
    left: 40%;
  }
  .home-title {
    font-size: 2.8rem;
  }
  .home-data p {
    font-size: .9rem;
  }
  .home-btn {
    padding: 1rem 0;
    margin-top: 1.5rem;
  }
  .home-container {
    height: auto;
  }
  /* About */
  .about {
    padding: 5rem 3rem;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-image {
    width: 100%;
  }
  .about-text {
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
  .about-title {
    font-size: 2.3rem;
  }
  .about-desc {
    font-size: .9rem;
    margin-bottom: 2rem;
  }
  .categories-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .categories-title {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 600px) {
  .home-data {
    top: 22%;
    left: 40%;
  }
  .home-title {
    font-size: 2.5rem;
  }
  .home-data p {
    font-size: .7rem;
  }
  .home-btn {
    padding: .7rem 0;
    margin-top: 1rem;
  }
  .home-container {
    height: auto;
  }
  /* About */
  .about {
    padding: 5rem 2rem;
  }
  .about-title {
    font-size: 2.3rem;
  }
  .about-desc {
    font-size: .8rem;
  }
  .categories {
    padding: 2rem 2rem;
  }
  .categories-title {
    font-size: 2.3rem;
  }
  .categories-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
  .each-container {
    background-color: rgb(231, 228, 228);
    padding-bottom: .5rem;
    text-align: left;
  }

}
/* For small devices */
@media screen and (max-width: 450px) {
  .home-data {
    top: 18%;
    left: 35%;
  }
  .home-title {
    font-size: 2rem;
  }
  .home-data p {
    font-size: .6rem;
  }
  .home-btn {
    padding: .6rem 0;
    margin-top: 1rem;
  }
  /* About */
  .about {
    padding: 4rem 2rem;
  }
  .about-title {
    font-size: 2.1rem;
  }
  .categories {
    padding: 2rem 1.5rem;
  }
  .categories-title {
    font-size: 2.1rem;
  }
  .categories-container {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .each-container {
    background-color: rgb(231, 228, 228);
    padding-bottom: .5rem;
    text-align: left;
  }
}
@media screen and (max-width: 320px) {
  .home-data {
    top: 15%;
    left: 35%;
  }
  .home-title {
    font-size: 1rem;
  }
  .home-data p {
    font-size: .5rem;
  }
  .home-btn {
    padding: .3rem 0;
    margin-top: .6rem;
  }
  /* About */
  .about {
    padding: 4rem 1rem;
  }
  .about-title {
    font-size: 1.4rem;
  }
  .about-desc {
    font-size: .6rem;
  }
  .nav-action a i {
    font-size: .6rem;
  }
  .hamburger-menu {
    font-size: .7rem;
  }
  .nav-logo {
    width: 50px;
  }
  .categories {
    padding: 0 2rem;
  }
  .categories-title {
    font-size: 1.3rem;
  }
  .categories-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .each-container {
    background-color: rgb(231, 228, 228);
    padding-bottom: .5rem;
    text-align: left;
    margin-bottom: 1rem;
  }
}



